configuration{
    modi: "run,drun";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-run: " 💻 ";
    display-drun: " 💻 ";
}

@theme "rosepine"
